﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication1.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <asp:ListBox ID="ListBox1" runat="server" Height="306px" Width="436px"></asp:ListBox>
    <br />
    <br />
    <asp:Label runat="server" Text="Id: "></asp:Label>
    <asp:TextBox ID="TextBoxId" runat="server"></asp:TextBox>
    <br />
    <asp:Label runat="server" Text="Name: "></asp:Label>
    <asp:TextBox ID="TextBoxName" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Label runat="server" Text="Surname: "></asp:Label>
    <asp:TextBox ID="TextBoxSurname" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Label runat="server" Text="Index num: "></asp:Label>
    <asp:TextBox ID="TextBoxIndex" runat="server"></asp:TextBox>
    <br />
    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />

    <br />
    <br />
    <br />
    <p>
    </p>
</asp:Content>
